:root {
    --primary-color: #FFFFFF;
    --secondary-color: #C7C7C7;
    --background-color: #1E1E1E;
    --accent-color: #E3D58B;
    --contrast-color: #2D2A29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

h1, h4, p {
    text-align: center;
    margin: 0.5em 0;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    text-align: center;
}

.landing__header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1rem;
}

.landing__header__icon {
    width: 2em;
    border-radius: 0.25em;
}

.landing__header__name {
    font-size: 1rem;
    font-weight: 600;
}

.landing__title {
    font-size: 3rem;
    font-weight: 600;
}

.landing__title--breakpoint {
    display: inline;
}

@media (max-width: 750px) {
    .landing__title--breakpoint {
        display: block;
    }
}

.landing__subtitle {
    font-size: 1.25rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.landing__disclaimer {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.landing__disclaimer--date {
    color: var(--accent-color);
}

.landing__images {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
}

.landing__image {
    max-height: 600px;
    min-height: 360px;
    height: 40vw;
    transform: rotate(0);
    margin-right: -3rem;
}

.landing__image--bookmarks {
    transform: rotate(-4deg) scale(0.8);
}

@media (max-width: 750px) {
    .landing__image {
        margin-right: -7rem;
    }

    .landing__images {
        margin-left: -7rem;
    }
}

@media (max-width: 440px) {
    .landing__image {
        margin-right: -9rem;
    }

    .landing__images {
        margin-left: -9rem;
    }
}

.landing__image--playback-speed {
    transform: rotate(-2deg) scale(0.9);
    z-index: 1;
}

.landing__image--library {
    z-index: 2;
}

.landing__image--player {
    transform: rotate(2deg) scale(0.9);
    z-index: 1;
}

.landing__image--now-playing {
    transform: rotate(4deg) scale(0.8);
}
