.app__footer {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 0 auto;
    align-items: center;
    max-width: 650px;
}

@media (max-width: 750px) {
    .app__footer {
        flex-direction: column;
        gap: 1em;
    }
}

.app__footer__link {
    flex: 1;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.75rem;
    text-align: center;
}

.app__footer__link:hover {
    font-weight: 600;
    color: var(--accent-color);
}

.app__footer__divider {
    background-color: var(--disabled-color);
    width: 1px;
    height: 2em;
    opacity: 0.2;
}

@media (max-width: 750px) {
    .app__footer__divider {
        height: 1px;
        width: 100%;
    }
}