.app__header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
}

.app__header__icon {
    width: 2rem;
    border-radius: 0.25rem;
}

.app__header__name {
    font-size: 1rem;
    font-weight: 600;
}