.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.landing__title {
    margin-bottom: 1rem;
}

.landing__title--highlighted {
    color: var(--accent-color);
    position: relative;
}

.landing__title--highlighted::after {
    content: '';
    background: url("/resources/vectors/vector.underline.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    height: 1rem;
    width: 100%;
}

.landing__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.landing__disclaimer {
    margin-bottom: 3rem;
}

.landing__disclaimer--date {
    color: var(--accent-color);
}

.landing__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    min-width: 300px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.landing__image {
    width: 30%;
    margin-right: -3rem;
    margin-left: -3rem;
}

@media (max-width: 750px) {

    .landing {
        margin-top: 1rem;
    }

    .landing__title {
        font-size: 2rem;
    }

    .landing__subtitle {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .landing__disclaimer {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .landing__image {
        margin-right: -2rem;
        margin-left: -2rem;
    }
}

@media (max-width: 450px) {
    .landing__image {
        margin-right: -1.5rem;
        margin-left: -1.5rem;
    }
}

.landing__image--bookmarks {
    rotate: -4deg;
    scale: 0.8;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.landing__image--playback-speed {
    rotate: -2deg;
    z-index: 2;
    scale: 0.9;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.2s;
}

.landing__image--library {
    z-index: 3;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.4s;
}

.landing__image--player {
    rotate: 2deg;
    z-index: 2;
    scale: 0.9;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.2s;
}

.landing__image--now-playing {
    rotate: 4deg;
    scale: 0.8;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}