:root {
    --primary-color: #FFFFFF;
    --secondary-color: #C7C7C7;
    --disabled-color: #969494;
    --background-color: #1E1E1E;
    --accent-color: #E3D58B;
    --contrast-color: #2D2A29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.3;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
}